<div id="sticky-social">
  <ul>
    <li><a href="www.google.com" class="entypo-facebook" target="_blank">
      <span class="text">Facebook</span><i class="fa fa-facebook"></i></a></li>
    <li><a href="www.google.com" class="entypo-twitter" target="_blank">
      <span class="text">Twitter</span><i class="fa fa-twitter"></i></a></li>
    <li><a href="www.google.com" class="entypo-instagrem" target="_blank">
      <span class="text">Instagram</span><i class="fa fa-instagram"></i></a></li>
  </ul>
</div>
